
* {
    padding:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
html, body {
    margin: 0;
    height: 100%;
}
.parent-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "nav"    
        "body" 
    ;
}
.home-content-grid {
    display: grid;
    height: 120%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.4fr;
    grid-template-areas: 
        "title"    
        "body1"
        "body2" 
    ;
}

.gallery-content-grid {
    display: grid;
    height: 120%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
        "title"    
        "body1" 
    ;
}
.gallery-display-grid{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding-top: 4%;
}
.gallery-pic{
    border: 0px solid black;
    background-color: rgb(199, 199, 199);
    height: 200px; /* adjust as needed */
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}
.gallery-pic p{
    color: gray;
    font-size: 10px;
}
.gallery-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body{
    background-color: rgb(62, 62, 62);
    grid-area: body;
}
.box{
    border: 0px solid black;
    background-color: rgb(199, 199, 199);
}


#titlebox{
    grid-area: title;
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
}
#titlebox img {
  position: absolute;
  top: 50%;
  left: 50%;  
  height: 100%;   
  width: 100%;
  transform: translate(-50%, -50%); 
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;    
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
#hometext{
    grid-area: body1;
    text-align: center;
    padding: 5%;
    
}
#hometext p{
    padding: 1%;
    color: black;
}
#logobox{
    grid-area: body2;
    text-align: center;
}
#logobox img{
    width: 50%;
    height: auto;
    padding: 5%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(207, 184, 124);
    height:65px;
}

.nav-menu{
    display: flex;
    gap:5vw;
}

a:hover {
    text-decoration: underline;
    color:#565A5C
}

a {
    color:black;
}


@media (min-width: 768px) {
    .nav-burger-menu {
        display: none !important;
    }
    .nav-menu {
        display: flex;
    }
    .nav-toggle {
        display: flex;
    }
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-toggle span {
        background-color: rgb(255, 255, 255, 0.869);
        height: 0.2em;
        width: 2em;
        display: flex;
        margin: 10%;
    }
    .nav-menu {
        display: none;
    }
    .nav-burger-menu li{
        background-color: #A2A4A3;
        border-width: 10em;
        border-left: 0.2rem solid black;
        border-right: 0.2rem solid black;
        text-align: center;
    }

    .nav-burger-menu li:first-child {
    border-top: 0.2rem solid black;
    }

    .nav-burger-menu li:last-child {
        border-bottom: 0.2rem solid black;
    }

    .nav-burger-menu li + li {
        border-top: 0.2rem solid black;
    }
    .nav-burger-menu li a {
    display: block;
    padding: 2%;
    background-color:#A2A4A3;
    color: white;
    text-decoration: none;
    }
    .nav-burger-menu li :hover{
        background-color: #565A5C;
    }
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

#modal-caption {
  text-align: center;
  color: #ccc;
  padding: 10px;
}

.close {
  position: absolute;
  top: 20px; right: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #f00;
}
